<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.travelagencyConnectionString"
            connectionString="server=localhost;User Id=root;password=supernova;database=travelagency"
            providerName="MySql.Data.MySqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.travelagencyConnectionString1"
            connectionString="server=localhost;User Id=root;password=supernova;Persist Security Info=True;database=travelagency"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>